{{#each comments}}
{{#if isAvailable}}
	<br>
	<div class='commentItem' data-commentCount={{commentCount}}>
		{{login}}: {{comment}}
	{{#if isModeratorView}}
		<a href='#' class='deleteMessage' onclick='window.deleteComment($(this), {{commentCount}}, "{{id}}"); return false;'>удалить</a>
	{{/if}}
	</div>
{{/if}}	
{{/each}}	