	<br><br>
	<div class = 'voteresult'><p>{{first}}: {{percV1}}%</p> 
	<div class = 'voteWholeLine' style = 'width: 120%'>
		<div class='voteLine' style = 'width: {{percV1}}%'></div>
	</div>
	</div>
	<br><br>
	<br><br>
	<div class = 'voteresult'><p>{{second}}: {{percV2}}%</p> 
	<div class = 'voteWholeLine' style = 'width: 120%'>
		<div class='voteLine' style = 'width: {{percV2}}%'></div>
	</div>
	</div>
	<br><br>
	<br><br>
	<div class = 'voteresult'><p>{{third}}: {{percV3}}%</p> 
	<div class = 'voteWholeLine' style = 'width: 120%'>
		<div class='voteLine' style = 'width: {{percV3}}%'></div>
	</div>
	</div>
	<br><br>